{{- define "title" }}
{{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
<div class="page archive">
    {{- /* Title */ -}}
    <h2>
        {{ .Title }}
    </h2>

    <!-- {{- /* Paginate */ -}} -->
    <!-- {{- if .Pages -}} -->
    <!-- {{- $pages := .Pages.GroupByDate "2006" -}} -->
    <!-- {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
    {{- $pages = $.Paginate $pages . -}}
    {{- else -}}
    {{- $pages = .Paginate $pages -}}
    {{- end -}} -->
    <!-- {{- range $pages.PageGroups -}}
    <h3 class="group-title">{{ .Key }}</h3> -->
    {{- range .Pages.ByWeight -}}
    <article class="archive-item">
        <a href="{{ .RelPermalink }}" class="archive-item-link">
            {{ .File.TranslationBaseName }}
        </a>
    </article>
    {{- end -}}
    <!-- {{- end -}}
    {{- partial "paginator.html" . -}} -->
    <!-- {{- end -}} -->

    <hr>


    <h3>
        <a href="..">{{.Parent.Title }}</a> > <a href="">{{.Title}}</a>
    </h3>

</div>
{{- end -}}