{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
{{- $params := .Scratch.Get "params" -}}

{{- $toc := $params.toc -}}
{{- if eq $toc true -}}
{{- $toc = .Site.Params.page.toc | default dict -}}
{{- else if eq $toc false -}}
{{- $toc = dict "enable" false -}}
{{- end -}}

{{- /* Auto TOC */ -}}
{{- if ne $toc.enable false -}}
<div class="toc" id="toc-auto">
    <h2 class="toc-title">{{ T "contents" }}</h2>
    <div class="toc-content{{ if eq $toc.auto false }} always-active{{ end }}" id="toc-content-auto"></div>
</div>
{{- end -}}

<article class="page single">
    {{- /* Title */ -}}
    <h1 class="single-title animated flipInX">{{ .File.TranslationBaseName }}</h1>

    {{- /* Featured image origineel */ -}}
    <!-- {{- with $params.featuredimage -}}
    <div class="featured-image">
        {{- dict "src" . "alt" $.Description "large" true | partial "plugin/image.html" -}}
    </div>
    {{- end -}} -->

    {{- /* Featured image van mij */ -}}
    {{ $imgPathJPG := printf "%v%v" .File.TranslationBaseName ".jpg" }}
    {{ $imgFullPathJPG := printf "%v%v%v%v" "content/" .Section "/" $imgPathJPG}}
    {{ $imgPathPNG := printf "%v%v" .File.TranslationBaseName ".png" }}
    {{ $imgFullPathPNG := printf "%v%v%v%v" "content/" .Section "/" $imgPathPNG}}

    {{- /* Featured image */ -}}
    {{ if (fileExists $imgFullPathJPG) }}
    <div class="featured-image">
        <img src="../{{ $imgPathJPG}}" alt="Plaatje">
    </div>
    {{ end }}
    {{ if (fileExists $imgFullPathPNG) }}
    <div class="featured-image">
        <img src="../{{ $imgPathPNG}}" alt="Plaatje">
    </div>
    {{ end }}
    <!-- {{ $imgPath := "/static/img/hummus.jpg" }} -->

    <!-- <!-1- Check whether the path exists -1-> -->
    <!-- {{ if fileExists $imgPath }} -->

    <!--     <!-1- Load image data with imageConfig and insert it with `<img>` -1-> -->
    <!--     {{ $img := imageConfig $imgPath }} -->
    <!--     <img src="/img/hummus.jpg" -->
    <!--         width="{{ $img.Width }}" height="{{ $img.Height }}" -->
    <!--         alt="Hugo Gopher"> -->

    <!-- {{ end }} -->

    {{- /* Static TOC */ -}}
    {{- if ne $toc.enable false -}}
    <div class="details toc" id="toc-static" kept="{{ if $toc.keepStatic }}true{{ end }}">
        <div class="details-summary toc-title">
            <span>{{ T "contents" }}</span>
            <span><i class="details-icon fas fa-angle-right"></i></span>
        </div>
        <div class="details-content toc-content" id="toc-content-static">
            {{- dict "Content" .TableOfContents "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
        </div>
    </div>
    {{- end -}}

    {{- /* Content */ -}}
    <div class="content" id="content">
        {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
    </div>

    <hr>

    <h3>
        <a href="../..">{{.Parent.Parent.Title }}</a> > <a href="..">{{.Section}}</a>
    </h3>
</article>
{{- end -}}