<!-- <head> --> 
<!-- <meta http-equiv="refresh" content="0; url=/categories/" /> -->
<!-- </head> --> 

{{- define "content" -}}
    {{- $params := .Scratch.Get "params" -}}
    {{- $profile := .Site.Params.home.profile -}}
    {{- $posts := .Site.Params.home.posts -}}

    <div class="page home"{{ if ne $posts.enable false }} posts{{ end }}>
        {{- /* Profile */ -}}
        {{- if ne $profile.enable false -}}
            {{- partial "home/profile.html" . -}}
        {{- end -}}

        {{- /* Content */ -}}
        {{- if .Content -}}
            <div class="single">
                <div class="content" id="content">
                    {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
                </div>
            </div>
        {{- end -}}

        {{- /* Posts */ -}}
        {{- if ne $posts.enable false | and .Site.RegularPages -}}
            {{- /* Paginate */ -}}
            {{- $pages := where .Site.RegularPages "Type" "posts" -}}
            {{- if .Site.Params.page.hiddenFromHomePage -}}
                {{- $pages = where $pages "Params.hiddenfromhomepage" false -}}
            {{- else -}}
                {{- $pages = where $pages "Params.hiddenfromhomepage" "!=" true -}}
            {{- end -}}
            {{- with $posts.paginate | default .Site.Params.paginate -}}
                {{- $pages = $.Paginate $pages . -}}
            {{- else -}}
                {{- $pages = .Paginate $pages -}}
            {{- end -}}
            {{- range $pages.Pages -}}
                {{- .Render "summary" -}}
            {{- end -}}
            {{- partial "paginator.html" . -}}
        {{- end -}}
    </div>
{{- end -}}

<!-- {{ define "main" }} -->
<!-- <main> -->
<!--     <article> -->
<!--         <header> -->
<!--             <h1>{{.Title}}</h1> -->
<!--         </header> -->
<!--         <!-1- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -1-> -->
<!--         {{.Content}} -->
<!--     </article> -->
<!--  <ul class="no-bullet"> -->
<!--           {{ range .Paginator.Pages }} -->
<!--          <li> -->
<!--         <a href="{{ .Permalink }}">{{ .Title }}</a> -->
<!--         </li> -->
<!--           {{ end }} -->
<!--       </ul> -->

<!--  {{ range .Pages }} -->
<!--         <ul class="no-bullet"> -->
<!--             {{ range .Sections }} -->
<!--             <li> -->
<!--                 <span><time datetime="{{.Date}}">{{ .Date.Format .Site.Params.DateFmt }}</time></span> -->
<!--                 <a href="{{ .Permalink }}">{{ .Title }}</a> -->
<!--             </li> -->
<!--             {{ end }} -->
<!--         </ul> -->
<!--       {{ end }} -->

<!-- {{ range .Sections }} -->

<!-- <h3>{{.Title}}</h3> -->

<!-- {{ range .Pages }} -->
<!-- <li> -->
<!--         <a href="{{ .Permalink }}">{{ .Title }}</a> -->
<!-- </li> -->
<!-- {{end}} -->

<!-- {{ end }} -->
<!-- </main> -->
<!-- {{ end }} -->
